{% extends 'base.html' %}


{% block title %}
  Colette <span>Beaumont</span>
{% endblock %}


{% block content %}

<div class="col-sm-8 rightpanel">



        <div class="row">
          {% for repo in repos %}  
          <div class="column">
            <div class="content">
              <img src="/static/img/project/dandelion.jpg" alt="Mountains" style="width:100%">
              <a href="{{ repo.html_url }}"><h3>{{ repo.name }}</h3></a>
              <p>{{ repo.description }}</p>
            </div>
          </div>
          {% endfor %}

        </div>
{% endblock %}        

